SECRET_KEY=
DEBUG=True

EMAIL_USE_TLS =
EMAIL_HOST =
EMAIL_PORT =
EMAIL_HOST_USER = 'EMAIL_HOST_USER'
EMAIL_HOST_PASSWORD = 'EMAIL_HOST_PASSWORD'
DEFAULT_FROM_EMAIL = Name <your_email@example.com>

CLIENT_BASE_URL =